<h1><%= header %></h1>

<form action="<%= action %>" method="POST">
  <%= auth_token %>
  <label for="username">Username</label>
  <input
    id="username"
    type="text"
    name="user[username]"
    placeholder="Username">

  <label for="password">Password</label>
  <input
    id="password"
    type="password"
    name="user[password]"
    placeholder="Password">

  <button
    type="submit">
    <%= button_text %>
  </button>
</form>

