<h1><%= header %></h1>

<form action="<%= action %>" method="POST">
  <%= auth_token %>
  <input
    type="text"
    name="user[username]"
    placeholder="Username">

  <input
    type="password"
    name="user[password]"
    placeholder="Password">

  <button
    type="submit">
    <%= button_text %>
  </button>
</form>

